# API Gateway Configuration
PORT=5175
NODE_ENV=development

# Frontend URL (cho CORS)
FRONTEND_URL=http://localhost:5173

# Microservices URLs
AUTH_SERVICE_URL=http://localhost:5176
USER_SERVICE_URL=http://localhost:5177
COURSE_SERVICE_URL=http://localhost:5178
BLOG_SERVICE_URL=http://localhost:5179
ENROLLMENT_SERVICE_URL=http://localhost:5180
LEARNING_PATH_SERVICE_URL=http://localhost:5181
